name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: release-latex
      cancel-in-progress: true
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: notes.tex
      - name: Verify PDF exists
        run: test -f notes.pdf
      - name: Release PDF file as named tag release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: notes.pdf
      - name: Delete existing 'latest' release (if any)
        uses: actions/github-script@v7
        with:
          script: |
            try {
              const release = await github.rest.repos.getReleaseByTag({
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: "latest"
              });

              await github.rest.repos.deleteRelease({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: release.data.id
              });
            } catch (e) {
              console.log("No existing 'latest' release found");
            }
      - name: Release PDF file as 'latest'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: latest
          files: notes.pdf
